@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>
    BlackCoder-TrickSoLogic-YouTube Channel
</p>
<p>Use this page to detail your site's privacy policy.</p>
<h2>Please dont mis use these code as its copyright protected and you will be seriously fined for any reuse of this project or from any of my GIT project</h2>
